* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.book-card {
  border: 1px solid white;
  padding: 12px;
  margin: 12px;
}